<app-header></app-header>
<div id="list">
    <div class="">
        <div class="">
            <div class="list">
                <div class="margen">
                        <label>Hola! Te recomendamos estos productos!</label>
                        <li>Coca Cola</li>  
                        <li>sprite 500ml</li>
                        <li>powerage 800ml</li>
                        <li>fanta 1lt</li>
                        <li>neste 500ml</li>
                        <li>Monster</li>
                        <li>monster red 500ml</li>
                        <li>monster green 500ml</li>
                        <li>monster original 500ml</li>
                </div>
                <button class="buttons primary ">Gracias!</button>
            </div>
        </div>
    </div>
</div>

        
